.idea
.vscode

.git
.github
**/.expo
assets
**/build
**/dist
documentation
**/node_modules
postgresql
scripts
shared
**/tests

CODE_OF_CONDUCT.md
CONTRIBUTING.md
gitleaks.toml
LICENSE.md
**/README.md
SECURITY.md
*jest*
*eslint*
*-lock.json
*-env.d.ts
**/.gitignore
**/.env
**/.prettierrc
