.idea
.vscode

.git
.github
.expo
assets
build
dist
documentation
node_modules
postgresql
scripts
shared

CODE_OF_CONDUCT.md
CONTRIBUTING.md
gitleaks.toml
LICENSE.md
README.md
SECURITY.md
*eslint*
*-lock.json
*-env.d.ts
.gitignore
.env
.prettierrc
