services:
  area_service_postgresql:
    image: postgres:18.1-alpine3.22
    container_name: ${PROJECT_NAME}_postgresql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "PGPASSWORD=${POSTGRES_PASSWORD} pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -p ${POSTGRES_CONTAINER_PORT}",
        ]
      interval: 10s
      retries: 5
    command: postgres -c config_file=/etc/postgresql/postgresql.conf -c port=${POSTGRES_CONTAINER_PORT}
    volumes:
      - ./postgresql/postgresql.conf:/etc/postgresql/postgresql.conf:ro,Z
      - ./postgresql/initdb:/docker-entrypoint-initdb.d:ro,Z
      - ${PROJECT_NAME}_volume_postgresql-data:/var/lib/postgresql:z
    ports:
      - "${POSTGRES_CONTAINER_PORT}:${POSTGRES_CONTAINER_PORT}"
    environment:
      MODE: ${MODE}
      CONTAINER_PORT: ${POSTGRES_CONTAINER_PORT}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_INITDB_ARGS: "--data-checksums"
    restart: unless-stopped
    stop_signal: SIGINT
    networks:
      - ${PROJECT_NAME}_network_postgresql

  area_service_server:
    build:
      context: server
      dockerfile: Dockerfile
      args:
        POSTGRES_URL: ${POSTGRES_URL}
    image: ${PROJECT_NAME}_server:latest
    container_name: ${PROJECT_NAME}_server
    ports:
      - "${API_CONTAINER_PORT}:${API_CONTAINER_PORT}"
    environment:
      MODE: ${MODE}
      PORT: ${API_CONTAINER_PORT}
      POSTGRES_URL: ${POSTGRES_URL}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GOOGLE_CLIENT_CALLBACK_URL: ${GOOGLE_CLIENT_CALLBACK_URL}
      DISCORD_CLIENT_ID: ${DISCORD_CLIENT_ID}
      DISCORD_CLIENT_SECRET: ${DISCORD_CLIENT_SECRET}
      DISCORD_CLIENT_CALLBACK_URL: ${DISCORD_CLIENT_CALLBACK_URL}
      GITHUB_CLIENT_ID: ${GITHUB_CLIENT_ID}
      GITHUB_CLIENT_SECRET: ${GITHUB_CLIENT_SECRET}
      GITHUB_CLIENT_CALLBACK_URL: ${GITHUB_CLIENT_CALLBACK_URL}
      SPOTIFY_CLIENT_ID: ${SPOTIFY_CLIENT_ID}
      SPOTIFY_CLIENT_SECRET: ${SPOTIFY_CLIENT_SECRET}
      SPOTIFY_CLIENT_CALLBACK_URL: ${SPOTIFY_CLIENT_CALLBACK_URL}
      GITLAB_CLIENT_ID: ${GITLAB_CLIENT_ID}
      GITLAB_CLIENT_SECRET: ${GITLAB_CLIENT_SECRET}
      GITLAB_CLIENT_CALLBACK_URL: ${GITLAB_CLIENT_CALLBACK_URL}
      JWT_SECRET: ${JWT_SECRET}
      FRONTEND_URLS: ${FRONTEND_URLS}
    depends_on:
      area_service_postgresql:
        condition: service_healthy
    networks:
      - area_network_postgresql
      - area_network_server

  area_service_client_mobile:
    build:
      context: .
      dockerfile: client/mobile/Dockerfile
      args:
        PORT: ${MOBILE_CONTAINER_PORT}
    image: ${PROJECT_NAME}_client-mobile:latest
    container_name: ${PROJECT_NAME}_client-mobile
    volumes:
      - ./client/shared:/app/shared:rw,Z
    environment:
      PORT: ${MOBILE_CONTAINER_PORT}
    ports:
      - "${MOBILE_CONTAINER_PORT}:${MOBILE_CONTAINER_PORT}"
    depends_on:
      - ${PROJECT_NAME}_service_server
    networks:
      - ${PROJECT_NAME}_network_server

  area_service_client_web:
    build:
      context: .
      dockerfile: client/web/Dockerfile
      args:
        VITE_PORT: ${WEB_CONTAINER_PORT}
        VITE_API_URL: ${API_URL}
    image: ${PROJECT_NAME}_client-web:latest
    container_name: ${PROJECT_NAME}_client-web
    volumes:
      - ./client/shared:/app/shared:rw,Z
    ports:
      - "${WEB_CONTAINER_PORT}:${WEB_CONTAINER_PORT}"
    depends_on:
      - ${PROJECT_NAME}_service_server
    networks:
      - ${PROJECT_NAME}_network_server

volumes:
  area_volume_postgresql-data:
    name: ${PROJECT_NAME}_volume_postgresql-data
    driver: local

  area_volume_client-shared:
    name: ${PROJECT_NAME}_volume_client-shared
    driver: local

networks:
  area_network_postgresql:
    name: ${PROJECT_NAME}_network_postgresql
    driver: bridge
    internal: false

  area_network_server:
    name: ${PROJECT_NAME}_network_server
    internal: false

  area_network_client-web:
    name: ${PROJECT_NAME}_network_client-web
    internal: false
